
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn {
  position: absolute;
  padding: 10px;
  right: 20px;
}

.btn:hover{
  cursor: pointer;
}

.wrapper {
  display: inline-block;
}

.wrapper table {
  border-style: none;
}

.table-content {
  overflow-y: scroll;
  border-collapse: collapse;
  display: block;
}

th {
  background-color: #333;
  color: #fcfcfc;
}

td {
  color: #333;
}

th, td {
  text-align: center;
  font-size: .6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  width: 6rem;
}

.tr {
  height: 35px;
  max-height: 35px;
}

.tr-odd {
  background-color: #DADDE1;
}

.tr-even {
  background-color: #fcfcfc;
}
