
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn {
  position: absolute;
  padding: 10px;
  right: 20px;
}

.btn:hover{
  cursor: pointer;
}

.wrapper {
  display: inline-block;
  width: 100%;
}
table {
  width: 100%;
}
.ctr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2px;
  margin-left: 2px;
  border-right: 1px solid black;
}

.ctr td{
  width: calc(100% / 3);
  border-right: 1px solid black;
}

.wrapper table {
  border-style: none;
}

.table-content {
  overflow-y: scroll;
  overflow-x: hidden;
  border-collapse: collapse;
  display: block;
  position: relative;
}

th {
  background-color: #333;
  color: #fcfcfc;
}

td {
  color: #333;
}

th, td {
  text-align: center;
  font-size: .6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  width: 6rem;
}

.tr {
  height: 50px;
  max-height: 35px;
  width: 100%;
}

.tr-odd {
  background-color: #DADDE1;
}

.tr-even {
  background-color: #fcfcfc;
}

.table-wrapper{
  width: 100%;
  padding: 20px;
}

.top-btn {
  padding: 10px;
}

.top-wrapper {
  position: sticky;
  bottom: 10px;
}

.top-btn:hover{
  cursor: pointer;
}